<h3 class="page-header">
	Currencies 
	<div class="pull-right">
		<h4>
			<%= link_to new_currency_path do %>
				<i class="fa fa-plus-circle"></i>
			<% end %>
		</h4>
	</div>
</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>ISO</th>
			<th>Symbol</th>
		</tr>
	</thead>
	<tbody>
		<% @currencies.each do |c| %>
			<tr>
        <td><%= link_to c.name.titleize, c %></td>
				<td><%= c.iso.upcase %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Back", :back, :class => "btn btn-default" %>
