<h3 class="page-header">
Awaiting to decide should i have a shoe page or not :S
</h3>

<hr>

<div class="row">
  <div class="col-md-8">
    <%= link_to "Back", :back, :class => "btn btn-default" %>
  </div>
</div>
