<% if current_user %>
  <p class="navbar-text"><%= gravatar_tag current_user.email, size: 20 %> <%= link_to current_user.full_name, "#" %>!</p>
  <li><%= link_to "Log Out", logout_path %></li>
<% else %>
  <li><%= link_to "Log In", login_path %></li>
<% end %>

